html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}



.container {
    display: flex;
    justify-content: space-between;
    padding: 20px; 
}

.widget {
    width: 45%;  
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start; 
    }
    .widget {
        width: 100%; 
    }
}

.contact-item {
    display: flex;  
    align-items: center;  
    margin-bottom: 10px; 
}

.icon {
    margin-right: 10px; 
}

.content {
    margin: 0;  
}